.about {
	width: 100%;
	min-height: 200px;
	padding: 10px;
	border-radius: 40px;
	background-color: rgba(21, 21, 21, .01);

	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

	padding-left: 17rem;
	padding-right: 5rem;

	padding-top: 1.5rem;
	padding-bottom: 1.5rem;

	overflow:hidden;

	position: relative;

	cursor: pointer;
}

.about.animated {
	transform: translateY(0);
	transition: transform .05s ease-out;
}

.about.animated:hover {
	transform: translateY(-2px);
	transition: transform .05s ease-out;
}

.about i {
	position: absolute;
	top: 50%;
	left: 4%;
	transform: scale(15);
	opacity: .09;
}