.about {
	width: 100%;
	min-height: 200px;
	padding: 10px;
	border-radius: 40px;
	background-color: #FFF;

	border: 8px solid #F5f5f5;

	padding-left: 17%;
	padding-right: 5%;

	padding-top: 1.5%;
	padding-bottom: 1.5%;

	overflow:hidden;

	position: relative;

	cursor: pointer;
}

.about.animated {
	transform: translateY(0);
	transition: transform .05s ease-out;
}

.about.animated:hover {
	transform: translateY(-2px);
	transition: transform .05s ease-out;
}

.about i {
	position: absolute;
	top: 50%;
	left: 4%;
	transform: scale(15);
	opacity: .09;
}